.nav-list {
    list-style: none;
    margin-left: 3vw;
}
.fields-header {
    background: #5598ab;
    color: white;
    text-transform: uppercase;
}
.panel-block .control:hover {
    background-color: whitesmoke;
}

.control {
    text-transform: capitalize;
}
.side-panel-item {
    border-left: 3px solid #858383;
    color: #858383;
    padding-left: 1vw;
}
.side-panel-item.active {
    border-left: 3px solid rebeccapurple;
    color: rebeccapurple;
}

.group-header {
    font-size: 1.3em;
    color: #1fafd1;
    font-weight: bold;
    margin-bottom: 3%;
    text-transform: capitalize;
}
.active-header {
    color: #414040;
}
.group-header:hover {
    cursor: pointer;
}
.group-header.active {
    color: #414040;
}
.side-nav-container {
    position: fixed;
    width: 25%;
    align-items: center;
    height: 100%;
    background: #e4e2e2;
}
@media(max-width: 768px) {
    aside {
        position: relative;
        width: auto;
    }
}
.side-nav {
    width: 75%;
    position: relative;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15vh;
}
