.nav-list {
    list-style: none;
    margin-left: 3vw;
}
.fields-header {
    background: #5598ab;
    color: white;
    text-transform: uppercase;
}
.panel-block .control:hover {
    background-color: whitesmoke;
}

.control {
    text-transform: capitalize;
}
.plus {
    color: grey;
}
.side-panel-item {
    border-left: 3px solid #858383;
    color: #858383;
    padding-left: 1vw;
}
.side-panel-item.active {
    border-left: 3px solid rebeccapurple;
    color: rebeccapurple;
}

.group-header {
    font-size: 1.3em;
    color: #1fafd1;
    font-weight: bold;
    margin-bottom: 3%;
    text-transform: capitalize;
}
.group-header:hover {
    cursor: pointer;
}
.group-header.active {
    color: #414040;
}
.usage-icon {
    fill: #fff;
}
.icon {
    border-radius: 50%;
    height: 2vh;
    width: 2vw;
    height: 32px;
    width: 32px;
    margin-right: 1vw;
}
.community {
     background: #10a410;
}
.giving_tree {
    background: #d9a649;
}
.console {
    background: #689df3;
}