.flex-column {
    display: flex;
    flex-direction: column;
}

.align-baseline {
 align-items: baseline; 
}
.panel-block.aside-panels {
  display: flex;
  flex-direction: column;
  align-items: baseline; 
}